.hero {
    position: relative;

    @include breakpoint-up(large){
        display: flex;
        align-items: center;
        margin-top: 3.75rem; //60px
    }

    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;

            @include breakpoint-down(medium){
                background-image: url(/img/bg-tablet-pattern.svg);
                background-repeat: no-repeat;
                background-size: 20rem;
                background-position: 420% 100%;
                z-index: -1;
            }
            
        }


    &__img {
        width: 100%;
        height: auto;

        @include breakpoint-up(large){
            order: 2;
        }
    }

    &__text {
        text-align: center;

        @include breakpoint-up(large){
            text-align: left;
            order: 1;
            margin-right: 2.25rem;
        }

        h1 {
           line-height: 1.25;

           @include breakpoint-up(large){
                margin-bottom: 2.25rem; //36px
                text-align: left;
           }
        }

        p {
            color: $darkGrayishBlue;
            line-height: 1.75;
            margin-bottom: 2.5rem; //40px

             @include breakpoint-up(medium){
                margin: 0px auto 2.875rem; //46px
                width: 75%;
            }

            @include breakpoint-up(large){
                text-align: left;
                font-size: $standar;
                //margin-right: 9.3125rem; //149px
                width: 66%;
                margin-left: 0px;
                margin-bottom: 2.875rem; //46px
               }
        }

    }

    
}
